/* CSS Document */
body,p,dl,dd,h1,h2,h3,h4,h5,h6,ul,ol{margin:0;font-family:"Microsoft YaHei";}
h1,h2,h3,h4,h5,h6,strong,b,table th{font-weight:normal;}
em,i,dt,dd{font-style:normal;}
ul,ol{list-style:none;padding:0;}
a{text-decoration:none;}
img{vertical-align:top;border:none;}
table{border-collapse:collapse;}
table th,td{padding:0;}
input{margin:0;padding:0;}
textarea{resize:none; overflow:auto;}

.clearfix{zoom:1;}
.clearfix:after{content:""; display:block; clear:both;}

/* 重置样式  */

/*index*/
.w970{width: 970px;margin: 0 auto;}
.wrap{width:100%;background: url(../images/bgre.jpg) repeat-x;}
.header{heihtg:106px;background: url(../images/heabj.jpg) no-repeat;}
.header .headtbj{height: 106px;}
.header .headtop li{float: left;}
.header .headbrand li{float: left;}
.header .navdh .uli{float: left;}
.headtop a{color: #90bef9;font-size: 12px;margin: 0 10px;}
.headtop{margin-left: 350px;padding-top: 5px;}
.headtop a img{margin-top: 5px;}
.headtop li{background: url("../images/dxian.jpg") no-repeat right 5px;}
.headtop a:hover{color: #c8def9;text-decoration: underline;}
.header .input1{width:145px;height:15px;float: right;margin-right: 20px;}
.header .xian{width:30px;height:1px;border-top: 2px solid #ffe12f;float: right;margin-right:100px;position:relative;left:80px;top:0;}
.header .logo{width: 185px;height: 66px;position:relative;left:27px;top:3px;}
.headbrand{height: 35px;width: 618px;float: right;position:relative;right: -130px;top:6px;}
.headbrand li{height: 35px;}
.headbrand .li1{width: 90px;background: url("../images/brand.jpg") no-repeat left top;}
.headbrand .li1:hover{background: url("../images/brand.jpg") no-repeat left -35px;}
.headbrand .li2{width: 70px;background: url("../images/brand.jpg") no-repeat -90px top;}
.headbrand .li2:hover{background: url("../images/brand.jpg") no-repeat -90px -35px;}
.headbrand .li3{width: 100px;background: url("../images/brand.jpg") no-repeat -160px top;}
.headbrand .li3:hover{background: url("../images/brand.jpg") no-repeat -160px -35px;}
.headbrand .li4{width: 95px;background: url("../images/brand.jpg") no-repeat -260px top;}
.headbrand .li4:hover{background: url("../images/brand.jpg") no-repeat -260px -35px;}
.headbrand .li5{width: 70px;background: url("../images/brand.jpg") no-repeat -355px top;}
.headbrand .li5:hover{background: url("../images/brand.jpg") no-repeat -355px -35px;}
.headbrand .li6{width: 65px;background: url("../images/brand.jpg") no-repeat -425px top;}
.headbrand .li6:hover{background: url("../images/brand.jpg") no-repeat -425px -35px;;}
.headbrand .li7{width: 60px;background: url("../images/brand.jpg") no-repeat -490px top;}
.headbrand .li7:hover{background: url("../images/brand.jpg") no-repeat -490px -35px;;}
.headbrand .li8{width: 68px;background: url("../images/brand.jpg") no-repeat -550px top;}
.headbrand .li8:hover{background: url("../images/brand.jpg") no-repeat -550px -35px;;}
.header .navdh{height:36px;background: url("../images/nav_bg.jpg") no-repeat left bottom;}
.navdh .uli{height:36px;padding: 0 20px;line-height:36px;border-right: 1px solid #e6bd1a;}
.navdh .uli:hover{background: url("../images/daoh1.jpg") repeat-x left top;}
.navdh .uli a{color:#000;font-weight: bold;font-size: 16px;}
.header .navdh .uli{position: relative;}
.navdh ol{display:none;width:640px;height:216px;background: url("../images/subBlock-trans.png") no-repeat;position: absolute;left: 0;top:36px;z-index:20;padding-left:26px;padding-top: 10px;}
.header .navdh .uli:hover ol{display: block;}
.navdh ol li{line-height: 20px;}
.navdh ol ul{float: left;width: 180px;}
.navdh .uli ol li a{text-decoration: underline;color: #fff;font-size: 12px;}
.navdh .uli .btna{position: absolute;right:150px;bottom:2px;}
.navdhr{line-height: 36px;}
.navdhr span{font-size: 16px;font-weight: bold;margin-left: 170px;}
.header .input2{font-size: 14px;width: 70px;height:18px;}
.header .input3{width:30px;height: 16px;background: url("../images/btn1.gif") no-repeat left top;border: none;padding-bottom:3px;cursor:pointer;}

.banntop{height:626px;}
.bannleft{width:622px;height:626px;float: left;}
.bannright{width:348px;height:626px;float: left;}
.bannleftdw{height:29px;background: url("../images/daoh1.png") no-repeat left top;position:relative;left: 0;top:-29px;z-index: 5;}
.bannleftdw span{font-size: 20px;color: #fff;font-weight: bold;padding-left: 20px;line-height: 36px;}
.bannleftfot{height:180px;background: url("../images/beij1.jpg") no-repeat left top;position:relative;left: 0;top:-29px;z-index: 5;}
.bannright1{height:26px;background: url("../images/beij2.jpg") no-repeat;}
.bannright2{height:420px;background: url("../images/beij3.jpg") no-repeat;}
.bannright3{height:180px;background: url("../images/beij4.jpg") no-repeat;}
.bannleftfot li{float: left;margin-left: 22px;margin-top: 15px;}
.bannright2 h2{color: #fff;font-weight: bold;text-align: center;}
.bannright2 li{text-align: center;margin-top: 20px;}
.bannright2 ol{margin-top: 5px;}
.bannright2 ol li{float: left;font-weight: bold;}
.bannright2 ol .li1 .span1{display:inline-block; margin-top: 10px;}
.bannright2 ol .li1{width: 185px;height:80px;font-size: 12px;color: #fff;border-right: 1px solid #6e7376;text-align: left;padding-left: 20px;}
.bannright2 ol .li2{width: 140px;height:80px;font-size: 12px;color: #fff;border-left: 1px solid #282d30;}
.bannright2 ol .li2 a{line-height: 30px;}
.bannright3 ul{padding-top: 25px;}
.bannright3 ul li{float: left;}
.bannright3 ul li h4{font-size: 20px;color: #fff;font-weight: bold;padding-left: 20px;}
.bannright3 ul li p{font-size: 12px;color:#fff;width: 180px;padding-left: 20px;line-height: 14px;margin-top: 5px;}
.bannright3 input{width: 100px;height: 18px;margin-top: 6px;margin-left: 4px;}
.bannright3 .btnn{width: 104px;height: 20px;background:url("../images/btn-signup.gif") no-repeat left top;border: none;cursor:pointer;}

.catetop1{height:36px;background: url("../images/beij7.jpg") no-repeat left top;}
.catetop1 span{color:#000;font-weight: bold;font-size: 20px;padding-left: 20px;line-height: 36px;}

.catecnter .cateleft{width:622px;height:188px;background: url("../images/beij5.jpg") no-repeat left top;float:left;}
.catecnter .cateright{width:348px;height:188px;background: url("../images/beij6.jpg") no-repeat left bottom;float:left;}
.catefoot .cateleft ul{width: 622px;font-size: 12px;padding-left: 20px;padding-top: 14px;}
.catefoot .cateleft ul li{width:194px;float: left;background: url("../images/dian.jpg") no-repeat left 5px;padding-left: 12px;line-height: 20px;}
.catefoot .cateleft ul a{color: #494671;}
.catefoot .cateleft ul a:hover{color: #1c141f;}
.cateright{color:#fff;}
.cateright h3{color:#fff;text-align: center;padding-top: 20px;}
.cateright input{margin-left: 24px;margin-top: 12px;}
.cateright .btn-vote{width: 104px;height: 20px;background: url("../images/btn-vote.gif") no-repeat;border: none;float: right;margin-right: 20px;margin-top: 30px;cursor:pointer;}

.footer .footmain{height:174px;background: url("../images/beijd.jpg") no-repeat left top;margin-top: -14px;}
.footmain li h5{font-size:13px;color: #fff;}
.footmain li a{color:#679ed4;font-size: 12px;}
.footmain li a:hover{color: #aed5fd;text-decoration: underline;}
.footmain ol{float: left;padding-top: 20px;padding-left: 20px;}
.footmain ol li{line-height: 22px;}
.footmain .footmaright{float: right;width: 800px;padding-top: 20px;margin-left: -10px;position: relative;left:-80px;top: 0;}
.footmain .footmaright li{float: left;margin: 0 4px;}
.footdibu{width:970px;margin-top: 10px;}
.footdibu li{float: left;margin-right: 6px;}
.footmain .footdd{color:#679ed4;font-size: 12px;margin-top: -16px;}

/*about*/
.hang{height: 32px;background: url("../images/breadabout2.gif") repeat-x;}
.hang ul li{float: left;font-size: 12px;line-height: 32px;color: #fff;}
.hang .li1{background:#265792;}
.hang .li2{background:#1a4e8d;}
.hang li a{color: #7db0e9;padding-left: 10px;}
.hang li a:hover{color: #b9d4f2;text-decoration: underline;}
.aboutcen{background: #fff;padding-left: 30px;padding-top: 40px;padding-right: 26px;padding-bottom:10px;font-size:12px;}
.aboutcen ul li{float: left;padding: 0 12px;font-size:12px;background: url("../images/lineab.jpg") no-repeat right 60%;}
.aboutcen .li1{padding-left:0;}
.aboutcen .li2{background:none;}
.aboutcen a{text-decoration: underline;}
.aboutcen ul{margin-top: 14px;margin-bottom:30px;}
.aboutcen ul li a{color: #4876a8;}
.aboutcen ul li a:hover{color: #2b4767;}
.aboutcen h4{font-size:14px;font-weight: bold;}
.aboutcen{position: relative;}
.aboutcen em img{position:absolute;right:40px;top:46px;}
.aboutcen p{margin-bottom: 20px;line-height: 24px;}
.aboutcen .p1{width:570px;}

/*alltools*/
.alltoolsCe{position:relative;background:url("../images/alltoolsbgT.jpg") no-repeat;}
.alltoolsCeLeft{padding-left: 10px;padding-top: 22px;}
.alltoolsCeLeft h3{padding-left: 10px;color: #fff;font-weight: bold;}
.alltoolsCeLeft ul{font-size: 12px;margin-top: 14px;}
.alltoolsCeLeft ul a{color: #fff;}
.alltoolsCeLeft ul li{padding-left: 10px;width:180px;line-height: 20px;}
.alltoolsCeLeft ul li:hover{background: url("../images/beiji5.png") no-repeat;color:#dcc06d;padding-left: 20px;}
.alltoolsCeLeft ul li:hover a{color:#fac119;}
.alltoolsCeLeft{background: url("../images/alltoolsbeij.jpg") no-repeat left 406px;}
.alltoolsCeLeft .hygj{margin-top: 34px;}
.alltoolsCeLeftBi{height:506px;background:url("../images/alltoolsbj.jpg") no-repeat;margin-top:24px;margin-left: -10px;}
.alltoolsCeRight{float:left;height:1330px;width:774px;background: url("../images/alltoolsBoxBG.jpg") no-repeat left top,url("../images/alltbeij.jpg") repeat-y left top;position:absolute;left:196px;top:54px;}
.alltoolsCeRight h3{position: relative;left:30px;top: -30px;font-weight: bold;}
.alltoolsCeRight ul li{float: left;margin:0 17px;margin-top:44px;}
.alltoolsCeRight ul{padding-left:23px;}
.alltoolsCeRight ul li div{width: 136px;height: 136px;background: #fff;padding: 4px 4px;}
.alltoolsCeRight ul li a span{color: #fac119;text-decoration: underline;font-size: 12px;}
.alltoolsCeRight ul li a span:hover{text-decoration: none;color: #fff;}
.wrapalltools{width:100%;background: url(../images/bgre.jpg) repeat-x,#adb0b9;}

/*tradetools*/
.alltoolsCeLeftBiB{height:10px;}
.alltoolsCeRight img{width: 136px;}
.tradetoolsRight ul li div{width: 136px;height: 66px;}
.tradetoolsRight{height:834px;}

/*newtools*/
.newtoolsRight{height:834px;}
.newtoolsRight ul li p{width:146px;font-size: 12px;color: #fff;}
.newtoolsRight ul li span{display:inline-block;width:146px;margin-top: 7px;}
.newtoolsRight ul li div{width: 110px;height: 110px;padding: 0;}
.newtoolsRight ul li div img{width: 110px;height: 110px;}
.newtoolsRight h4{color: #fff;font-weight: bold;margin-left: 40px;position: relative;left: 0;top: 24px;}
.newtoolsRight ol li img{width: 22px;height: 16px;}
.newtoolsRight ol li{float: left;font-size: 14px;}
.newtoolsRight ol{position:absolute;right:20px;bottom:10px;}
.newtoolsRight ol .lib{border-right: 2px solid #fff;height: 16px;}
.newtoolsRight ol li a{margin: 0 6px;color: #fac119;}
.newtoolsRight ol li a:hover{color: #fff;}

/*suservice*/
.suserviceM{height: 420px;background: #fff;}
.suserviceLeft{float: left;height:380px;width:230px;padding-left: 40px;padding-top: 40px;}
.suserviceRight{height: 320px;float: left;padding-left: 10px;margin-top: 40px;border-left: 1px solid #6e7376;}
.suserviceLeft h3{color:#2c2a35;font-size: 14px;margin-bottom: 20px;font-weight: bold;}
.suserviceLeft li{font-size: 12px;line-height: 26px;}
.suserviceLeft li a{color: #0f4684;}
.suserviceLeft li a:hover{color:#081018;}
.suserviceRight h3{color:#2c2a35;font-size: 14px;margin-bottom: 16px;font-weight: bold;}
.suserviceRight li{font-size: 12px;line-height: 32px;}
.suserviceRight li a{color: #0f4684;text-decoration: underline;}
.suserviceRight li a:hover{color:#081018;}

/*promotionse*/
.promoRight{width:744px;height:878px;background: url("../images/baibeij.jpg;") repeat-y, #fff;position: absolute;left:196px;top:10px;padding-left: 30px;}
.promoRight li img{width: 350px;height: 263px;}
.promoRight li h5{font-weight: bold;margin-top: 10px;margin-bottom: 6px;}
.promoRight li span{font-size: 12px;}
.promoRight li a{font-size: 12px;font-weight: bold;color: #3057b9;text-decoration: underline;}
.promoRight li a:hover{color: #0e1b3a;}
.promoRight li{float: left;margin-top: 20px;margin-right: 14px;}

/*alltoolsCont*/
.alltoolsContR h5{color: #000;margin-left: 30px;margin-top: -24px;font-size: 15px;}
.alltoolsContR{float:left;height:818px;width:774px;background: url("../images/alltoolsBoxBG.jpg") no-repeat left top,url("../images/alltbeij.jpg") repeat-y left top;position:absolute;left:196px;top:70px;}
.alltoolsContR h3{margin-top: -20px;}
.alltoolsContR h4{color: #fff;font-size: 18px;font-weight: bold;margin-left: 40px;margin-top: 50px;}
.alltoolsContR ul{margin-top: -20px;}
.alltoolsContR ul li{height:190px;}
.alltoolsContR ul li div{width:100px;height:100px;padding: 5px 5px;}
.alltoolsContR ul li div img{width:100px;height:100px;}
.alltoolsContR ul li span{display:inline-block; width: 150px;padding-top: 10px;}
.alltoolsContR ul li p{width: 150px;}

/*tradetoolsCont*/
.tradetoolsContR{background: url("../images/baibeij.jpg") repeat-y;}
.tradetoolsCimg img{width: 774px;height: 368px;}
.tradetoolsCimg{margin-top: -53px;position: relative;}
.tradetoolsCBj{position:absolute;left:0;top:0;width:527px;height:121px;background: url("../images/bg-trans.png") no-repeat;padding-left:26px;padding-top: 34px;}
.tradetoolsCBj h1{color: #fff;font-size: 40px;text-shadow: 3px 3px 3px #000;}
.tradetoolsCSear{position:absolute;right:0;bottom:0;width:350px;height:150px;background: url("../images/trade-searchbg-trans.png") no-repeat;}
.tradetoolsCSear h3{color: #fff;font-size: 16px;margin-left: 150px;margin-top: 36px;}
.tradetoolsCSear .input1{width: 180px;height: 34px;margin-left: 40px;position:relative;left: 0;top:-5px;}
.tradetoolsCSear .input2{width: 84px;height: 40px;background: url("../images/btn-search-large.gif") no-repeat;border: none;margin-left: 6px;position:relative;left: 0;top:12px;}
.tradetoolsContR .tradetoolsCMa{height: 300px;background: url("../images/tools-by-trade-rp.jpg") repeat-y;}
.tradetoolsCMaLe{float:left;width: 400px;padding-top: 50px;padding-left: 30px;}
.tradetoolsCMaLe h3{color: #282d30;margin-left: -30px;}
.tradetoolsCMaLe h3 span{font-weight:bold;font-size: 22px;color: #000;}
.tradetoolsCMaLe p{width: 370px;font-size: 12px;line-height: 24px;margin-top: -16px;}
.tradetoolsCMaRe{float: left;width:330px;color: #fff;}
.tradetoolsCMaRe h5{width: 280px;margin-left: 32px;margin-top: 10px;font-size: 14px;font-weight: bolder;}
.tradetoolsCMaRe p{width: 280px;margin-left: 32px;margin-top: 14px;font-size: 12px;}
.tradetoolsCMaRe h3{margin-top:50px;font-size: 16px;font-weight: bolder;}
.tradetoolsCMaRe .wt1{margin-top: -20px;}
.tradetoolsCMaRe p a{color: #fac119;text-decoration: underline;}
.tradetoolsCMaRe p a:hover{color: #fff;text-decoration: none;}
.tradetoolsCFotHead{height:50px;background: url("../images/cat-header-bg.jpg") no-repeat;}
.tradetoolsCFotHead h3{padding-top: 36px;font-size: 18px;}
.tradetoolsCFotMa{padding-left: 26px;padding-top: 10px;}
.tradetoolsCFotMa ul li{float: left;font-size: 12px;width: 200px;margin-top:0px;line-height: 18px;background: url("../images/dian.jpg") no-repeat left 5px;padding-left: 14px;}
.tradetoolsCFotMa ul{margin-left:-30px;margin-top: 20px;}
.tradetoolsCFotMa ul li a{color: #0f4684;}
.tradetoolsCFotMa ul li a:hover{color:#081018;}

/*irwinHistory*/
.irwinHis{font-size: 12px;font-weight: bold;color: #2c2a35;margin-bottom: 16px;}
.aboutcen b{font-weight: bold;}

/*irwinInnovation*/
.irwInp{height:300px;}

.brandSimg{width:950px;text-align: center;padding-bottom: 20px;}
.brandSimg .img1{margin-top: 50px;margin-left: 20px;}

/*newtoolsCont*/
.newtoolsContRe{background: url("../images/baibeij.jpg") repeat-y;}
.newtoolsContRehead{height:490px;}
.newtoolsContReCl{float: left;width: 380px;padding-left: 30px;}
.newtoolsContReCr{float: left;width: 330px;}
.newtoolsContReCl h2{font-size: 22px;font-weight: bolder;margin-top: -30px;}
.newtoolsContReCl .imgda img{width: 320px;height: 320px;margin-top: 10px;}
.newtoolsContReCl p{font-size: 12px;color: #6e7376;}
.newtoolsContReCl .imgx img{width: 100px;height: 100px;border: 1px solid #adb0b9;margin-top: 20px;cursor: pointer;transition: all 0.6s;}
.newtoolsContReCl .imgx img:hover{transform: scale(3.2);margin-left:100px;border: none;}
.newtoolsContReCr h4{font-size:16px;font-weight: bold;margin-top: -26px;}
.newtoolsContReCr p{font-size: 12px;line-height:24px;}
.newtoolsContReCr ol li img{width: 16px;height: 16px;margin-top: 4px;margin-right: 6px;}
.newtoolsContReCr ol li a{color: #0f4684;font-size: 12px;}
.newtoolsContReCr ol{margin-top: 40px;}
.newtoolsContRe .newtoolsContRehead .newtoolsContReCr ol li{float: left;width: 160px;}
.newtoolsContRe2{height:300px;background: url("../images/alltoolsBoxBG.jpg") no-repeat;font-size: 12px;color: #fff;padding-top:70px;padding-left: 40px;}
.newtoolsContRe2 p a{color: #fac119;text-decoration: underline;}
.newtoolsContRe2 p a:hover{color: #fff;}
.newtoolsContRe2 table{margin-top: 20px;text-align: left;width:712px;}
.newtoolsContRe2 table tr{background: url("../images/results-divider.gif") repeat-x left bottom;}
.newtoolsContRe2 table th{height:40px;}

.newtoolsContRe3{height:300px;margin-top: -100px;}
.newtoolsContRe3Le{float: left;width:444px;height:192px;background: url("../images/related-t.jpg") no-repeat;padding: 60px 0 0 40px;}
.newtoolsContRe3Re{float: left;width:250px;height:192px;background: url("../images/testimonial-t.jpg") no-repeat;padding: 60px 0 0 40px;color: #fff;}
.newtoolsContRe4{height:100px;background: url("../images/customer-reviews-t.jpg") no-repeat;margin-top: -50px;padding: 60px 0 0 50px;}
.newtoolsContRe3Le h2{font-size: 24px;font-weight: bold;}
.newtoolsContRe3Le p{color:#6e7376;font-size:12px;margin-top: 20px;}
.newtoolsContRe3Re h2{font-size: 24px;font-weight: bold;}
.newtoolsContRe3Re p{font-size:12px;}
.newtoolsContRe4 p img{width: 80px;}
.newtoolsContRe4 h3{font-size: 24px;margin-top: 50px;margin-left: -30px;color: #0e1b3a;}
.newtoolsContRe4 .p1{margin-top: -10px;font-size: 24px;color: #adb0b9;margin-bottom: 10px;}
.newtoolsContRe4 p a{color:#0f4684;font-size: 12px;}

/*promotionseCont*/
.promosContMa{height: 542px;}
.promosContMahed{height: 73px;background: url("../images/ribbonBG.jpg") no-repeat;}
.promosContMahed ol li{float: left;}
.promosContMahed ol{padding-left: 380px;padding-top: 30px;}
.promosContMabanaLe{float: left;width:297px;height:469px;background:url("../images/homeBanner2.png") no-repeat;}
.promosContMabanaRe{float: left;width:703px;height:469px;background:url("../images/img_BG.jpg") no-repeat;margin-left: -30px;}
.promosContMabanaRe ol li{position: relative;}
.promosContMabanaRe ol li span{position: absolute;left: 0; top:0;margin-left: 20px;margin-top: 36px;}
.promosContMabanaRe ol li a{position: absolute;right: 0;top:0;}

